## Making maps of states with FIPS code data

This shows an example of preparing FIPS data for plotting using Bokeh. We will be using the following input datasets:
1. The `us_counties` dataset from `bokeh.sampledata` (need to download using `sampledata.download()`). This gives us the county names and outlines.
2. The `data/input/PovertyData.csv` dataset, taken from the [US ERS website](https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/)

The output of this workbook is a pickled datafile, `data/output/CountyPoverty.pickle`

This notebook also contains code to create a bokeh choropleth, to move over to the flask app

In [1]:
from bokeh.sampledata import us_counties
from bokeh.plotting import figure, show, output_file, ColumnDataSource
from bokeh.embed import components
from bokeh.models import CategoricalColorMapper, HoverTool

import numpy as np
import pickle

In [2]:
# make the key the FIPS code, instead of (high,low) code
us_counties_ = { (key[0]*1000 + key[1]) : value for key, value in us_counties.data.items() }

In [3]:
import pandas as pd

df = pd.DataFrame(us_counties_).transpose()
df = df[~df.state.isin(['pr','vi', 'as', 'mp'])]

In [4]:
df.head()

,detailed name,lats,lons,name,state
1001,"Autauga County, Alabama","[32.4757, 32.46599, 32.45054, 32.44245, 32.439...","[-86.41182, -86.41177, -86.41167, -86.41157, -...",Autauga,al
1003,"Baldwin County, Alabama","[30.28557, 30.21934, 30.21771, 30.21183, 30.20...","[-87.51203, -87.56704, -87.5741, -87.59954, -8...",Baldwin,al
1005,"Barbour County, Alabama","[32.02221, 32.02066, 32.0135, 32.00249, 31.996...","[-85.04884, -85.05367, -85.05381, -85.06454, -...",Barbour,al
1007,"Bibb County, Alabama","[33.13143, 33.13086, 33.15133, 33.18184, 33.18...","[-87.23637, -87.21582, -87.19914, -87.19907, -...",Bibb,al
1009,"Blount County, Alabama","[33.949, 33.95621, 33.9629, 33.97324, 33.99538...","[-86.8332, -86.81779, -86.79248, -86.7719, -86...",Blount,al

In [5]:
economic_df = pd.read_csv('./data/input/PovertyData.csv')
economic_df.head()

,FIPS,State,Area_Name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2016,CI90LBAll_2016,CI90UBALL_2016,...,CI90UB017P_2016,POV517_2016,CI90LB517_2016,CI90UB517_2016,PCTPOV517_2016,CI90LB517P_2016,CI90UB517P_2016,MEDHHINC_2016,CI90LBINC_2016,CI90UBINC_2016
0,1000,AL,Alabama,NaN,NaN,NaN,NaN,"814,197","796,927","831,467",...,26.0,"185,889","177,569","194,209",24.0,22.0,25.0,"46,309","45,650","46,968"
1,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"7,444","6,255","8,633",...,23.0,"1,887","1,522","2,252",18.0,15.0,22.0,"54,487","50,886","58,088"
2,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"24,005","20,132","27,878",...,21.0,"5,512","4,262","6,762",17.0,13.0,20.0,"56,460","53,250","59,670"
3,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"6,787","5,551","8,023",...,48.0,"1,502","1,160","1,844",37.0,28.0,45.0,"32,884","29,684","36,084"
4,1007,AL,Bibb County,1.0,1.0,1.0,1.0,"4,099","3,194","5,004",...,34.0,892,683,"1,101",27.0,21.0,33.0,"43,079","38,896","47,262"

In [6]:
econ_parsed = (economic_df[['FIPS',  'MEDHHINC_2016', 'POVALL_2016', 'PCTPOVALL_2016']]
                .replace(',', '', regex=True)
                .astype(float))

econ_parsed.head()

     FIPS  MEDHHINC_2016  POVALL_2016  PCTPOVALL_2016
0  1000.0        46309.0     814197.0            17.0
1  1001.0        54487.0       7444.0            14.0
2  1003.0        56460.0      24005.0            12.0
3  1005.0        32884.0       6787.0            30.0
4  1007.0        43079.0       4099.0            20.0

In [7]:
all_data = pd.merge(df, econ_parsed, 
                    left_index=True, right_on='FIPS', how='left')

all_data.head()

,detailed name,lats,lons,name,state,FIPS,MEDHHINC_2016,POVALL_2016,PCTPOVALL_2016
1,"Autauga County, Alabama","[32.4757, 32.46599, 32.45054, 32.44245, 32.439...","[-86.41182, -86.41177, -86.41167, -86.41157, -...",Autauga,al,1001,54487.0,7444.0,14.0
2,"Baldwin County, Alabama","[30.28557, 30.21934, 30.21771, 30.21183, 30.20...","[-87.51203, -87.56704, -87.5741, -87.59954, -8...",Baldwin,al,1003,56460.0,24005.0,12.0
3,"Barbour County, Alabama","[32.02221, 32.02066, 32.0135, 32.00249, 31.996...","[-85.04884, -85.05367, -85.05381, -85.06454, -...",Barbour,al,1005,32884.0,6787.0,30.0
4,"Bibb County, Alabama","[33.13143, 33.13086, 33.15133, 33.18184, 33.18...","[-87.23637, -87.21582, -87.19914, -87.19907, -...",Bibb,al,1007,43079.0,4099.0,20.0
5,"Blount County, Alabama","[33.949, 33.95621, 33.9629, 33.97324, 33.99538...","[-86.8332, -86.81779, -86.79248, -86.7719, -86...",Blount,al,1009,47213.0,8033.0,14.0

Let's grab the 
- median household income (MEDHHINC_2016)
- the number of estimated poor (POVALL_2016)
- the percentage of estimated poor (PCTPOVALL_2016)

Column definitions taken from `VariableDescription.csv`

In [8]:
def plot_state_data(state_name, df_source = all_data):
    df_filtered = df_source[df_source.state == state_name]
    
    colors = ["#F1EEF6", "#D4B9DA", "#C994C7", "#DF65B0", "#DD1C77", "#980043"]
    
    source = ColumnDataSource(dict(
        y=list(df_filtered.lats.values),
        x=list(df_filtered.lons.values),
        name=df_filtered.name,
        state=list(df_filtered.state),
        median_income=df_filtered.MEDHHINC_2016,
        percent_poor=df_filtered.PCTPOVALL_2016,
        color_county=[colors[min(int(income/15000), len(colors) - 1)] for income in df_filtered.MEDHHINC_2016]
    ))

    TOOLS="pan,wheel_zoom,box_zoom,reset,hover,save"
    
    f = figure(title=state_name, tools=TOOLS)

    f.patches(xs='x', ys='y', fill_color='color_county', 
                line_color='white', line_width=0.5, 
                line_alpha = 0.7, source=source)

    hover = f.select_one(HoverTool)
    hover.point_policy = "follow_mouse"
    hover.tooltips = [
        ("Name", "@name"),
        ("(Long, Lat)", "($x, $y)"),
        ("Percent poor", "@percent_poor%"),
        ("Median income", "$@median_income")
    ]

    return f

    
fig = plot_state_data('wa')

In [9]:
print(type(fig))
show(fig)

<class 'bokeh.plotting.figure.Figure'>

## This uses the tile set

In [10]:
from bokeh.tile_providers import STAMEN_TERRAIN_RETINA

my_map = figure(x_range=(-2000000, 6000000), y_range=(-1000000, 7000000),
           x_axis_type="mercator", y_axis_type="mercator")

my_map.add_tile(STAMEN_TERRAIN_RETINA)

show(my_map)

In [11]:
# install with 
#! conda install pyproj
from pyproj import Proj, transform
print(transform(Proj(init='epsg:4326'), Proj(init='epsg:3857'), -0.1285907, 51.50809))

(-14314.651244750548, 6711665.883938471)

In [15]:
all_data['x_wm'] = 0
all_data['y_wm'] = 0
all_data['x_wm'] = all_data['x_wm'].astype(object)
all_data['y_wm'] = all_data['y_wm'].astype(object)


for line_number in range(len(all_data)):
    row = all_data.iloc[line_number]
    index=all_data.index[line_number]
    
    points = zip(row.lons, row.lats)
    
    points_wm = [transform(Proj(init='epsg:4326'), Proj(init='epsg:3857'), *p) for p in points]
    x_type = [p[0] for p in points_wm]
    y_type = [p[1] for p in points_wm]
    
    #d[index] = {'x_wm': x_type, 'y_wm': y_type}
    try:
        all_data.at[index, 'x_wm'] = x_type
        all_data.at[index, 'y_wm'] = y_type
    except:
        print(index)

3192
3192
3192
3192
3192

In [20]:
def plot_state_data_web_mercator(state_name, df_source = all_data):
    df_filtered = df_source[df_source.state == state_name]
    
    colors = ["#F1EEF6", "#D4B9DA", "#C994C7", "#DF65B0", "#DD1C77", "#980043"]
    
    source = ColumnDataSource(dict(
        x=list(df_filtered.x_wm.values),
        y=list(df_filtered.y_wm.values),
        name=df_filtered.name,
        state=list(df_filtered.state),
        median_income=df_filtered.MEDHHINC_2016,
        percent_poor=df_filtered.PCTPOVALL_2016,
        color_county=[colors[min(int(income/15000), len(colors)-1)] for income in df_filtered.MEDHHINC_2016]
    ))

    TOOLS="pan,wheel_zoom,box_zoom,reset,hover,save"
    
    f = figure(title=state_name, tools=TOOLS)

    f.patches(xs='x', ys='y', fill_color='color_county', 
                line_color='white', line_width=0.5, 
                fill_alpha = 0.7, source=source)

    hover = f.select_one(HoverTool)
    hover.point_policy = "follow_mouse"
    hover.tooltips = [
        ("Name", "@name"),
        ("State", state_name.upper()),
        ("Percent poor", "@percent_poor%"),
        ("Median income", "$@median_income")
    ]

    return f

In [21]:
f2 = plot_state_data_web_mercator('ca')
f2.add_tile(STAMEN_TERRAIN_RETINA)
show(f2)

### Pickle file for use in Flask

In [22]:
pickle.dump(all_data, open('data/output/CountyPoverty.pickle', 'wb'))